<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/index.css" />
    <title>Movies</title>
  </head>
  <body>
    <h1>Movies</h1>
    <form action="/<%= login%>">
      <input type="submit" value="<%=login%>">
    </form>
    <form action="/<%= signup%>">
      <!-- hier moeten we de style attribute verplaatsen naar de styl.css van deze page-->
      <input type="submit" value="<%=signup%>" style="visibility: <%= visibility %> ; ">
    </form>
    <div class="wrapper">
      <% for (var i=0; i<movies.length; i++) { %>
        <div class="movie">
          <a href="/movies/<%= movies[i].id %>">
            <img src="<%= posterPath[i] %>" alt="<%= movies[i].title %>" />
          </a>
        </div>
      <% } %>
    </div>
    <div id="load-more-container">
      <button id="load-more">Load More</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="scripts/index.js"></script>
  </body>
</html>