<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/movie.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <%- include("../views/partials/header") %>
    </header>
    <main>
      <div class="container">
        <aside>
          <img src="<%= posterPath %>" alt="<%= movie.title %> poster" />
        </aside>
        <div class="details">
          <h1><%= movie.title %></h1>
          <table>
            <tr>
              <td>IMDb rating:</td>
              <td><%= movie.rating %>/10</td>
            </tr>
            <tr>
              <td>Release year:</td>
              <td><%= movie.year %></td>
            </tr>
            <tr>
              <td>Director:</td>
              <td><%= movie.director %></td>
            </tr>
            <tr>
              <td>Genre:</td>
              <td><%= movie.genre %></td>
            </tr>
          </table>
          <h2>Plot:</h2>
          <p><%= movie.plot %></p>
          <div class="order-button__container">
          <a href="/order" class="order-button" target="_self">Buy Tickets</a>
        </div>
      </div>
      </div>
    </main>
  </body>
</html>
