<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Page of a site where you can see your user profile">
    <title>User Profile</title>
    <link rel="icon" type="image/png" href="images/Sathe_logo_1_rounded.png"/>
    <link rel="stylesheet" href="./styles/user.css" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <header><%- include("../views/partials/header") %></header>
    <main>
      <h1>Welcome, <%= user.firstname %>!</h1>

      <table class="user">
        <tr>
          <th class="label">ID:</th>
          <td class="value"><%= user.id %></td>
        </tr>
        <tr>
          <th class="label">First name:</th>
          <td class="value"><%= user.firstname %></td>
        </tr>
        <tr>
          <th class="label">Last name:</th>
          <td class="value"><%= user.lastname %></td>
        </tr>
        <tr>
          <th class="label">Email:</th>
          <td class="value"><%= user.email %></td>
        </tr>
        <tr>
          <th class="label">Username:</th>
          <td class="value"><%= user.username %></td>
        </tr>
        <tr>
          <th class="label">Password:</th>
          <td class="value"><%= user.password %></td>
        </tr>
        <tr>
          <th class="label">Address:</th>
          <td class="value"><%= user.address %></td>
        </tr>
        <tr>
          <th class="label">Credit Card:</th>
          <td class="value"><%= user.credit_card %></td>
        </tr>
      </table>

      <h2>Your orders:</h2>

      <table class="order">
        <thead>
          <tr>
            <th>Title</th>
            <th>Time</th>
            <th>Room</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% orders.forEach(order => { %>
          <tr>
            <td><%= order.title %></td>
            <td><%= order.time %></td>
            <td><%= order.room %></td>
            <td><%= order.amount %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <div class="logout-button__container">
        <a href="/logout" class="logout-button" target="_self">Log Out</a>
      </div>
    </main>
    <footer><%- include("../views/partials/footer") %></footer>
  </body>
</html>
