<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p><%= info.id%></p>
    <p><%= info.firstname%></p>
    <p><%= info.lastname%></p>
    <p><%= info.email%></p>
    <p><%= info.username%></p>
    <p><%= info.password%></p>
    <p><%= info.address%></p>
    <p><%= info.credit_card%></p>
  </body>
</html>
